.right{
   width: 100%;
   margin-left:auto;
   border-left: 3px rgba(34, 31, 31, 0.753);
    
}
.imageslide{
    width: 90%;
    height: 20%;
    
}
.p{
    width: 80%;
    text-align: center;
    margin-left:10%
}
.ps{
    text-align: center;
    width: 80%;
    border-top: 2px solid rgba(0, 0, 0, 0.267);
    border-bottom: 2px solid rgba(0, 0, 0, 0.267);
    margin-left:10%;
    height: 30px;
}
.list{
    display: flex;
    margin-left:20%;
   
}
.ul{
    list-style: none;
}
.follow{
    display: flex;
    margin-left:40%;
    height: 100px;
}